:root {

    --yellow1: #FFD747;
    --yellow2: #FFD333;
    --yellow3: #FFCE1F;
    --yellow4: #FFCA0A;
    --yellow5: #F5C000;

    --lightgreen1: #99C087;
    --lightgreen2: #8DB979;
    --lightgreen3: #82B26C;
    --lightgreen4: #77AB5F;
    --lightgreen5: #6CA054;

    --darkgreen1: #6A8547;
    --darkgreen2: #5F7740;
    --darkgreen3: #556A39;
    --darkgreen4: #4A5D32;
    --darkgreen5: #4A5D32;

    --white1: #F3F3F4;
    --white2: #EAEAEB;
    --white3: #E0E0E1;
    --white4: #D5D5D7;
    --white5: #CBCBCD;

    --brown1: #765A42;
    --brown2: #5B4633;
    --brown3: #4E3D2C;
    --brown4: #413325;
    --brown5: #34291E;

}