@import url(ColorPalette.css);

@media only screen and (max-width: 1550px) {
    .elliott-intro-card {
        flex-direction: column;
        height: 95% !important;
        width: 1000px !important;
    }

    .elliott-intro-card-img {
        height: 550px;
        width: 550px;
    }
}

@media only screen and (max-width: 850px) {
    .elliott-intro-card {
        flex-direction: column;
        height: auto !important;
        width: 100% !important;
    }

    .elliott-intro-card-img {
        height: 550px;
        width: 550px;
    }
}

body {
    margin: 0px !important;
    background-color: var(--white1);

}

.elliott-main {

    background-color: var(--white1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.elliott-intro-card {
    height: 800px;
    width: 1650px;
    background-color: var(--white3);
    border-radius: 32px;
    animation: fade-in 0.8s 0.2s normal forwards;
    opacity: 0%;
    display: flex;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    gap: 16px;
}

.elliott-intro-card-details {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        transform: translateY(10%);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.elliott-intro-card-img {
    height: 750px;
    border-radius: 18px;
}

h1 {
    font-family: var(--titlefont);
    font-size: 58px;
    margin: 0px;
    color: var(--black5);
}

p {
    font-family: var(--miscfont);
    color: var(--black3);
    font-size: 21px;
}